<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Agrupamiento de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

3. Devuelve los resultados siempre en formato de DataFrame

In [7]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [3]:
df_netflix = pd.read_csv('datos/netflix_final.csv', index_col= 0)
df_netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,original
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentary,"October 2, 2020",90.0,7.5,English,Yes
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",NaN,NaN,NaN,NaN,NaN,NaN
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,NaN,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,NaN,NaN,NaN,NaN,NaN,NaN
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,NaN,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",NaN,NaN,NaN,NaN,NaN,NaN
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",NaN,NaN,NaN,NaN,NaN,NaN
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",NaN,NaN,NaN,NaN,NaN,NaN
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,NaN,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,NaN,NaN,NaN,NaN,NaN,NaN
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,NaN,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",NaN,NaN,NaN,NaN,NaN,NaN
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,NaN,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 1: ¿Cuántos títulos hay por cada tipo de contenido ('Movie' o 'TV Show')?

In [6]:
type_count = df_netflix.groupby('type')['show_id'].count()
type_count

type
Movie      6131
TV Show    2676
Name: show_id, dtype: int64

#### Ejercicio 2: ¿Cuál es el promedio de puntuación de las películas agrupadas por clasificación de audiencia ('rating')? Interpreta los resultados, ¿hay algo que te llame la atención? Explica por qué.

In [8]:
df_netflix.groupby('rating')['IMDB Score'].mean().round(2)

rating
66 min       NaN
74 min       NaN
84 min       NaN
G           6.50
NC-17        NaN
NR           NaN
PG          6.80
PG-13       6.39
R           6.50
TV-14       6.18
TV-G        6.16
TV-MA       6.10
TV-PG       6.31
TV-Y        6.78
TV-Y7       6.24
TV-Y7-FV     NaN
UR           NaN
Name: IMDB Score, dtype: float64

#### Ejercicio 3: ¿Cuántos títulos hay por cada país? Ordena los resultados de mayor a menor

In [15]:
count_pais = df_netflix.groupby('country')['show_id'].count().sort_values(ascending= False)
count_pais

country
United States                                                                          2818
India                                                                                   972
United Kingdom                                                                          419
Japan                                                                                   245
South Korea                                                                             199
                                                                                       ...
Ireland, Canada, Luxembourg, United States, United Kingdom, Philippines, India            1
Ireland, Canada, United Kingdom, United States                                            1
Ireland, Canada, United States, United Kingdom                                            1
Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong       1
Zimbabwe                                                                                  1
Name: show_id, Length: 748, dtype: int64

#### Ejercicio 4: ¿Cuál es la calificación promedio en IMDb de los títulos agrupados por tipo ('Movie' o 'TV Show')?

In [16]:
df_netflix.groupby('type')['IMDB Score'].mean().round(2)

type
Movie      6.21
TV Show     NaN
Name: IMDB Score, dtype: float64

No tenemos los datos de las calificaciones de IMDb de 'TV Show'

#### Ejercicio 5: ¿Cuántos títulos se añadieron a Netflix cada año? Para resolver este ejercicio tendrás uqe convertir la columna `date_added` a formato fecha usando el método `pd.to_datetime`. [Aquí](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html) tienes la documentación, leeala con detenimiento antes de usar el método.

In [20]:
from datetime import datetime

In [26]:
df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'], format='%B %d, %Y', errors='coerce')
df_netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,original
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentary,"October 2, 2020",90.0,7.5,English,Yes
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",NaN,NaN,NaN,NaN,NaN,NaN
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,NaN,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,NaN,NaN,NaN,NaN,NaN,NaN
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,NaN,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",NaN,NaN,NaN,NaN,NaN,NaN
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2019-11-20,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",NaN,NaN,NaN,NaN,NaN,NaN
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,2019-07-01,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",NaN,NaN,NaN,NaN,NaN,NaN
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,R,NaN,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,NaN,NaN,NaN,NaN,NaN,NaN
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,PG,NaN,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",NaN,NaN,NaN,NaN,NaN,NaN
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df_netflix['year_added'] = df_netflix['date_added'].dt.year

titles_per_year = df_netflix.groupby('year_added').size()
titles_per_year

year_added
2008.0       2
2009.0       2
2010.0       1
2011.0      13
2012.0       3
2013.0      10
2014.0      23
2015.0      73
2016.0     418
2017.0    1164
2018.0    1625
2019.0    1999
2020.0    1878
2021.0    1498
dtype: int64

#### Ejercicio 6: ¿Cuál es el país con más títulos lanzados en el año 2020? Para resolver este ejercicio después del gropuby os puede resultar interesante el método [`idxmax`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html)

In [29]:
df_2020 = df_netflix[df_netflix['year_added'] == 2020]

titles_country_2020 = df_2020.groupby('country').size()

country_max_titles = titles_country_2020.idxmax()

country_max_titles

'United States'

#### Ejercicio 7:¿Cuál es el promedio de puntuación en IMDb de los títulos agrupados por país?

In [31]:
country_imdb = df_netflix.groupby('country')['IMDB Score'].mean().round(2)
country_imdb_sin_nan = country_imdb.dropna()
country_imdb_sin_nan

country
Argentina                                 6.42
Australia, United States                  7.60
Austria                                   6.85
Belgium, Netherlands                      7.10
Belgium, United Kingdom, United States    5.30
                                          ...
United States, Mexico                     5.67
United States, United Kingdom             8.20
United States, United Kingdom, Canada     6.70
United States, United Kingdom, Germany    6.60
United States, United Kingdom, India      7.80
Name: IMDB Score, Length: 81, dtype: float64

#### Ejercicio 8: ¿Cuántos títulos fueron lanzados en cada año agrupados por tipo ('Movie' o 'TV Show')?

In [32]:
df_netflix.groupby(['year_added', 'type']).size()

year_added  type
2008.0      Movie         1
            TV Show       1
2009.0      Movie         2
2010.0      Movie         1
2011.0      Movie        13
2012.0      Movie         3
2013.0      Movie         6
            TV Show       4
2014.0      Movie        19
            TV Show       4
2015.0      Movie        56
            TV Show      17
2016.0      Movie       253
            TV Show     165
2017.0      Movie       839
            TV Show     325
2018.0      Movie      1237
            TV Show     388
2019.0      Movie      1424
            TV Show     575
2020.0      Movie      1284
            TV Show     594
2021.0      Movie       993
            TV Show     505
dtype: int64

#### Ejercicio 9: ¿Cuál es el país con la mayor cantidad de títulos de clasificación 'TV-MA'?

In [33]:
tv_ma_titles = df_netflix[df_netflix['rating'] == 'TV-MA']

tv_ma_country = tv_ma_titles.groupby('country').size()

country_max_tv_ma = tv_ma_country.idxmax()
country_max_tv_ma

'United States'

#### Ejercicio 10. ¿Cuál es el promedio de duración de las películas agrupadas por país?

#### Ejercicio 11: ¿Cuál es el número total de títulos por país y clasificación de audiencia ('rating')?

In [35]:
pd.DataFrame(df_netflix.groupby(['country', 'rating']).size())

                          0
country           rating
, France, Algeria TV-14   1
, South Korea     TV-MA   1
Argentina         NR      2
                  R       1
                  TV-14   7
...                      ..
Vietnam           TV-14   3
                  TV-G    1
                  TV-MA   3
West Germany      TV-MA   1
Zimbabwe          TV-G    1

[1175 rows x 1 columns]

#### Ejercicio 12: ¿Cuántos títulos fueron lanzados antes del año 2000 agrupados por país?

In [38]:
df_2000 = df_netflix[df_netflix['release_year'] < 2000]

titles_country_2000 = df_2000.groupby('country').size()
pd.DataFrame(titles_country_2000)

                               0
country
Argentina                      3
Argentina, Spain               1
Australia                      4
Australia, United Kingdom      1
Australia, United States       2
...                           ..
United States, Japan           1
United States, Mexico          3
United States, New Zealand     1
United States, United Kingdom  6
West Germany                   1

[65 rows x 1 columns]

#### Ejercicio 13: ¿Cuál es la puntuación promedio en IMDb de los títulos lanzados en 2021 agrupados por país?

In [40]:
df_2021 = df_netflix[df_netflix['year_added'] == 2021]

country_imdb_2021 = df_2021.groupby('country')['IMDB Score'].mean().round(2)
country_imdb2021_sin_nan = country_imdb_2021.dropna()

country_imdb2021_sin_nan

country
Belgium, Netherlands                     7.10
Brazil                                   5.80
Canada, Hungary, United States           7.10
France                                   5.35
France, United States                    6.50
Hungary, United States                   5.40
India                                    5.98
India, United States                     7.10
Indonesia                                6.06
Italy                                    5.83
Japan                                    5.50
Netherlands                              4.50
Poland                                   5.00
South Africa                             5.80
South Korea                              5.87
Spain                                    6.40
Sweden                                   5.50
Thailand                                 5.20
Turkey                                   6.40
United Kingdom                           7.10
United Kingdom, United States            6.30
United States                            6.34
United States, United Kingdom, Canada    6.70
Name: IMDB Score, dtype: float64

#### Ejercicio 14: ¿Cuántos títulos fueron dirigidos por cada director? Ordena los resultados de mayor a menor

In [41]:
df_netflix.groupby('director').size().sort_values(ascending= False)

director
Rajiv Chilaka                            19
Raúl Campos, Jan Suter                   18
Suhas Kadav                              16
Marcus Raboy                             16
Jay Karas                                14
                                         ..
Jos Humphrey                              1
Jose Gomez                                1
Jose Javier Reyes                         1
Joseduardo Giordano, Sergio Goyri Jr.     1
Khaled Youssef                            1
Length: 4528, dtype: int64

#### Ejercicio 15: ¿Cuál es el lenguaje más frecuente en los títulos lanzados en los últimos 5 años agrupado por país?